/* الحمد لله تم بأكمله */

/* Start variables */
:root{
    --color-orange:#ffbd50;
    --color-oranged-icon:#ee832b;
    --padding-60: 60px;
    --line-hieght: 1.7;
    --transition-03s:0.3s;
    --border-radius-7:7px;
}
/* End variables */
/* Start Global Rules */
*{
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
/* Start Animation Body */
.div{
    position: fixed;
    animation: opacity linear 2.4s ;
    visibility: hidden;
    background-color: #333;
    z-index: 100;
    width: 100%;
    height: 100%;
}
@keyframes opacity {
    100%{
        visibility:visible;
    }
}
body .span-animation{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: var(--color-orange);
    border-radius:50% ;
    z-index: 101;
    display: inline-block;
    top: 280px;
    left: 50%;
    transform: translate(-200%, 250%);
    animation: animation infinite linear .9s alternate;
}
body .span-animation:nth-child(2){
    animation-delay: .3s;
}
body .span-animation:nth-child(3){
    animation-delay: .6s;
}
@keyframes animation {
    to{
        opacity: .2;
        transform: translate(-200%, 180%);
    }
}
/* End Animation Body */
/* Start Back to top */
.up{
    position: fixed;
    bottom: 30px;
    background-color: var(--color-orange);
    right: 10px;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
a img{
    position: relative;
    color: #333;
    display: flex;
    margin: 7px auto;
    
}
/* End Back to top */
ul{
    list-style: none;
}
/* الكونتينر ده علشان يخلي الكل علي نساق واحد بس علشان انت اديلك كتير سايب البرمجه وكده فيعلمك */
.container{ 
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width:768px) {
    .container{
       width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* end Global Rules */

/* Start Header */
.header{
    background-image: url(../web/images/header-background.jpg);
    background-size:cover ;
    padding: 40px 30px ;
    position: relative;
}
@media (max-width:767px){
    .header{
        background-image:none;
    }
    .header::before{
        display: none;
    }
}
.header::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.705);
}
.header .text{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.header .text img{
    width: 90px;
}
.header .text #links{
    color: black;
    font-size: 30px;
    display: none;
}
.header .text ul{
    display: flex;
    flex-wrap: wrap;
    flex: 1;  
    justify-content: flex-end;
    margin-left: 100px;
}
.header .text ul li a{
    text-decoration: none;
    color: #ddd;
    margin-right: 25px;
    font: 600 0.875rem/0.875rem "Montserrat", sans-serif;
    transition: var(--transition-03s);
}
@media (max-width:767px) {
    .header .text #links{
        display: block;
    }
    .header .text ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: -120px;
        z-index: 1;
        background-color: white;
        visibility: hidden;
    }
    .header .text #links:hover + ul{
        visibility:visible;
    }
    .header .text ul li a{
        color:black;
        margin-bottom: 20px;
        display: block;
        margin-left:20px ;
    }
    .header .text ul li.active::after{
        top: 2px !important;
        left: 60px;
        border-top: 4px solid black !important;
    }
}
.header .text ul li a:hover{
    color: var(--color-orange);
}
.header .text ul li.active{
    position: relative;
    margin-right: 15px;
}
.header .text ul li.active::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0;
    border-top: 4px solid white;
    border-right: 4px solid  transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    top: 6px;
    right: 13px;
    transition: var(--transition-03s);
}
.header .text ul li.active:hover::after{
    border-top: 4px solid var(--color-orange);
}
.header .text ul li.active ul{
    display: flex;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 70px;
    right: 106px;
    display: none;
    transition: .3s;
    cursor: pointer;
    border-radius: var(--border-radius-7);
    z-index: 1;
}
.header .text ul li.active ul li{
    padding: 13px;
    margin: 10px;
    font: 500 0.875rem/0.875rem "Montserrat", sans-serif;
}
.header .text ul li.active ul li:hover{
    color: var(--color-orange);
}
.header .text ul li.active:hover ul{
    display: flex;
} 
.header .text ul  ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.header .text .icon{
    display: flex;
    color: black;
    align-items: center;
    margin: 0 10px;
}
@media (max-width:767px) {
    .header .text .icon {
        display: none;
    }
}
.header .text .icon i{
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-orange);
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: var(--transition-03s);
}
.header .text .icon i:hover{
    background-color: var(--color-oranged-icon);
    color: white;
}
/* الحمد لله تم بنجاح */
/* End Header */
/* Start Landing */
.landing{
    background-image: url(../web/images/header-background.jpg);
    background-size: cover;
    padding: var(--padding-60) 0;
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.705);
}

/* start text*/
.landing .container .text,.landing .container .buttom{
    text-align: center;
    color: #eee;
    position: relative;
}
.landing .container .text h1{
    font: 700 2.75rem/3.375rem "Montserrat", sans-serif;
    font-size: 65px;
    margin: 20px 0;    
}
.landing .container .text p{
    font-size: 18px;
    line-height: var(--line-hieght);   
    width: 700px; 
    margin:0 auto;
    margin-bottom: 20px;
}
@media (max-width:767px) {
    .landing .container .text h1{
        font-size: 40px;
    }
    .landing .container .text p{
        width: 300px; 
        font-size: 16px;
    }
}
/* end text */

/* start button */
.landing .container .buttom button{
    border: 1px solid white;
    outline: 0;
    border-radius: 40px;
    padding: 15px 39px;
    margin-left: 10px;
    font: 600 0.875rem/0.875rem "Montserrat", sans-serif;
    cursor: pointer;
    transition: var(--transition-03s);
}
@media (max-width:767px) {
    .landing .container .buttom button{
        padding: 15px 35px;
    }
}
.landing .container .buttom button:first-child{
    background-color: var(--color-orange);
    color: #333;
    border: 1px solid var(--color-orange);
}
.landing .container .buttom button:first-child:hover{
   background-color: transparent;
   color: var(--color-orange);
   border: 1px solid var(--color-orange);
}
.landing .container .buttom button:last-child{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.landing .container .buttom button:last-child:hover{
   background-color: white;
   color: black;
   border: 1px solid white;
}
/* end button */

/* start img */
.landing .container .img{
    margin-top: 80px;
    position: relative;
    text-align: center;
    z-index: 2;
}
.landing .container .img i{
    color: white;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.landing .container .img i.fa-angle-right{
    right: -10px;
}
.landing .container .img i.fa-angle-left{
    left: -10px;
}
.landing .container .img img{
    border-radius: var(--border-radius-7);
    max-width: 100%;
    
}
/* عاوز اعرف ايه مشكلة ده مش راضي يظبط في الوتس */
@media (max-width: 767px) {
    .landing .container .img img{
        width: 300px ;
    }
    .landing .container .img i{
        top: 50%;
        transform: translateY(-50%);
    }  
}
@media (max-width: 991px) {
    .landing .container .img img{
        width: 700px ;
    }
    .landing .container .img i{
        top: 50%;
        transform: translateY(-50%);
    }
    .landing .container .img i.fa-angle-right{
        right: -15px;
    }
    .landing .container .img i.fa-angle-left{
        left: -15px;
    }
}
@media (max-width: 1200px) {
    .landing .container .img img{
        width: 920px;
    }
    .landing .container .img i{
        top: 50%;
        transform: translateY(-50%);
    }
}
/* end img */
/* الحمد لله تم بنجاح*/
/* End Landing */

/* Start Register */
.register{
   padding:200px  0 var(--padding-60) ;
   margin-top: -150px;
   background-color: var(--color-orange);
   position: relative;
   z-index: 1;
   max-width: 100%;
}
.register .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
@media (max-width:1200px) {
    .register .container{
        display: flex;
    justify-content: center;
    }
}
/* start text */
.register .container .box .text{
    max-width: 100%;
}
.register .container .box .text h1{
    font: 700 2.75rem/3.375rem "Montserrat", sans-serif;
    font-size: 40px;
    color: #222;
}
.register .container .box .text p{
    width: 500px;
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
    line-height: var(--line-hieght);
}
@media (max-width:767px) {
    .register .container .box .text p{
    width: 350px;
    }
}
/* end text */

/* start span */
.register .container .box .span{
    margin-left: 20px;
}
.register .container .box .span p{
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
    position: relative;
}
.register .container .box .span p::before{
   content: "";
   position: absolute;
   top: 7px;
   left: -20px;
   width: 8px;
   height: 8px;
   background-color: #222;
}
.register .container .box .span span{
    color: #111;
    font-weight: 600;
}
/* end span */

/* strat form */
.register .container .box form{
    margin-top: 30px;
}
.register .container .box form input[type="text"]
,
.register .container .box form  input[type="email"]{
    display: block;
    border: 0;
    outline: 0;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: var(--border-radius-7);
    background-color: #ffedd0;
}
.register .container .box form input[type="checkbox"]{
    cursor: pointer;
}
.register .container .box form p{
   display: inline-block;
   margin-bottom: 20px;
   font-size: 14px;
   transform: translateY(-2px);
   max-width: 100%;
   color: #333;
}
.register .container .box form p span{
    text-decoration: underline;
    cursor: pointer;
}
@media (max-width:767px) {
    .register .container .box form p{
        margin-top: -15px;
        margin-left: 11px;
        line-height: 1.5;
    }
    .register .container .box form input[type="checkbox"]{
        margin-left: -5px;
    }
}
.register .container .box form input[type="submit"]{
   display: block;
   border: 1px solid black;
   background-color: transparent;
   outline: 0;
   width: 100%;
   padding: 18px;
   border-radius: 30px;
   font: 600 0.875rem/0.875rem "Montserrat", sans-serif;
   transition: var(--transition-03s);
   cursor: pointer;
}
.register .container .box form input[type="submit"]:hover{
    background-color: white;
    border: 1px solid white;
}
/* end form */
/* الحمد لله تم بنجاح */
/* End Register */

/* Start About Me */
.about-me{
    padding: 100px  0 var(--padding-60) ;
    background-color: #fbf9f5;
}
.about-me .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    column-gap: 120px;
}
@media (min-width:1200px) {
    .about-me .container{
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}
/* Start img */
.about-me .container img{
    max-width: 100%;
    border-radius: var(--border-radius-7);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* End img */

/* Start text */
.about-me .container .text {
    margin: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.about-me .container .text h2{
    color: #333;
    font: 700 2.25rem/2.875rem "Montserrat", sans-serif;
    margin-bottom: 20px;
}
.about-me .container .text p{
    font-size: 16px;
    color: #555;
    line-height: var(--line-hieght);
}
@media (min-width:7681px) {
    .about-me .container .text p{
        width: 695px;
    }
}
.about-me .container .text p:first-of-type{
    margin-bottom: 20px;
}
/* End text */
/* الحمد لله تم بنجاح */
/* End About Me */

/* Start Learn SEO */
.how-learn{
    padding: var(--padding-60) 0;
    background-color: #fbf9f5;
}
.how-learn h2{
    text-align: center;
    width: 41rem;
    margin-right: auto;
    margin-left: auto;
    font: 700 2.25rem/2.875rem "Montserrat", sans-serif;
    color: #333;
    margin-bottom: var(--padding-60);
    max-width: 100%;
}
.how-learn .container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 100px;
}
.how-learn .container .box{
    position: relative;
    counter-increment: box;
}
.how-learn .container .box::after{
    position: absolute;  
    content:counter(box);
    top:-5px;
    left: -60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: #333;
}
.how-learn .container .box h3{
    margin-bottom: 10px;
    color: #333;
    font: 700 1.25rem/1.875rem "Montserrat", sans-serif;
}
.how-learn .container .box p{
    color: #555;
    font: 400 1rem/1.625rem "Montserrat", sans-serif;
    margin-bottom: 40px;
    max-width: 100%;
}
.how-learn .container .box p.not-margin{
    margin-bottom: 0;
}
@media (max-width:767px) {
    .how-learn .container .box{
        margin-left: 40px;
    }
    .how-learn .container .box::after{
        width: 30px;
        height: 30px;
        top: 0;
        left: -35px;
    }
    .how-learn h2{
        font: 700 2.1rem/2.875rem "Montserrat", sans-serif;
    }
}
@media (min-width: 768px) {
    .how-learn .container .box p{
      width: 400px;
    }
}
@media (min-width:1020px) {
    .how-learn .container .box {
        margin-left: 10px;
    }
    .how-learn .container .box::after{
       left: -52px;
    }
}
@media (min-width: 1200px) {
    .how-learn .container .box p{
    width: 490px;
    }
    .how-learn .container .box {
        margin-left: 0px;
    }
    .how-learn .container .box::after{
        left: -60px;
     }
}
/* الحمد لله تم بنجاح */
/* End Learn SEO */

/* Start Details */
.details{
    padding: var(--padding-60) 0;
    background-color: #fbf9f5;
}
.details .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    column-gap: 120px;
}
.details .container .text{
    max-width:100%;
}
.details .container .text h2{
    color: #333;
    font: 700 2.25rem/2.875rem "Montserrat", sans-serif;
    margin-bottom: 20px;
}
.details .container .text p{
    color: #555;
    line-height: var(--line-hieght);
    margin-bottom: 30px;
    font: 400 1rem/1.625rem "Montserrat", sans-serif;
}
.details .container .text button{
   padding: 20px 40px;
   border: 1px solid var(--color-orange);
   outline: 0;
   background-color: var(--color-orange);
   border-radius: 30px;
   font: 600 0.875rem/0 "Montserrat", sans-serif;
   color: #333;
   transition: var(--transition-03s);
   margin-bottom: 60px;
   cursor: pointer;
}
.details .container .text button:hover{
   background-color: transparent;
   border: 1px solid black;
}
.details .container img{
  max-width: 100%;
  border-radius:var(--border-radius-7) ;
}
/* الحمد لله تم بنجاح */
/* End Details */

/* Start Video */
.video{
    padding: var(--padding-60) 0;
    background-color: #fbf9f5;
}
.video .container {
    text-align: center;
    position: relative;
}
.video .container h2{
    color: #333;
    font: 700 2.25rem/2.875rem "Montserrat", sans-serif;
    margin-bottom: 40px;
    max-width: 100%;
    width: 100%;
}
.video .container div{  
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-0%);
}
/* Start animation */
/* انا مش فاهم هو ليه بيظهر فوقه ؟؟ انا قلبتها وخلصت نفسي ههههه*/
.video .container .span div{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-orange);
    z-index: 1;
    cursor: pointer;
}
.video .container .span div::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 17px;
    left: 30px;
    border-left: 34px solid #eee ;
    border-bottom:24px solid transparent ;
    border-top:  20px solid transparent;
    border-right:20px solid transparent ;
}
.video .container .span div::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-orange);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: -1;
    border:0px solid var(--color-orange);
    animation: opcity 1.5s linear infinite ;
}
@keyframes opcity {
    from{
       opacity: 1;
       width: 70px;
       height: 70px;
    }
    to{
       opacity: 0;
       width: 150px;
       height: 150px;
    }
}
@media (max-width:767px) {
    .video .container .span{
        transform: translate(-50%,40%);
    }
    .video .container .span div{
        width: 60px;
        height: 60px;
    }
    .video .container .span div::before{
        border-left: 30px solid #eee ;
        border-bottom:20px solid transparent ;
        border-top:  20px solid transparent;
        border-right:20px solid transparent ;
        top: 10px;
        left: 20px;
    }
    .video .container .span div::after{
        width: 50px;
        height: 50px;
    }
}
/* End animation */
.video .container img{
    border-radius: var(--border-radius-7);
    max-width: 100%;
}
/* الحمد لله تم بنجاح */
/* End Video */

/* Start Key Takeaways */
.key-takeaways{
    padding: var(--padding-60) 0;
    background-color: #fbf9f5;
}
.key-takeaways .container h2{
    text-align: center;
    font: 700 2.25rem/2.875rem "Montserrat", sans-serif;
    color: #333;
    margin-bottom: 15px;
}
.key-takeaways .container p:nth-child(2){
    text-align: center;
    color: #555;
    line-height: var(--line-hieght);
    margin-bottom: 40px;
    font: 400 1rem/1.625rem "Montserrat", sans-serif;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:767px) {
    .key-takeaways .container p:nth-child(2){
        width: 78%;
    }
}
.key-takeaways .container .big-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
}
.key-takeaways .container .big-box .box{
    background-color: white;
    text-align: center;
    padding: 20px;
}
.key-takeaways .container .big-box .box i{
    font-size: 45px;
    background-color: #fbf9f5;
    color: var(--color-orange);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 230%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.key-takeaways .container .big-box .box h3{
    color: #333;
    font: 700 1.25rem/1.875rem "Montserrat", sans-serif;
    margin-bottom: 15px;
}
.key-takeaways .container .big-box .box p{
    color: #555;
    margin-bottom: 40px;
    font: 400 1rem/1.625rem "Montserrat", sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* الحمد لله تم بنجاح */
/* End Key Takeaways */

/* Start Opinions */
.opinions{
    padding: var(--padding-60) 0;
    background-color: #fbf9f5;
}
.opinions .container h3{
    text-align: center;
    font: 700 1.625rem/2.125rem "Montserrat", sans-serif;
    color: #333;
    margin-bottom: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.opinions .container .box{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    position: relative;   
}
.opinions .container .box i{
    color: #333;
    position: absolute;
    top: 15%;
    cursor: pointer;
}
.opinions .container .box i.fa-angle-right{
    right: 60px;
}
.opinions .container .box i.fa-angle-left{
    left: -30px;
}
@media (max-width:767px) {
    .opinions .container .box i.fa-angle-right{
        right: 0;
    }
    .opinions .container .box i.fa-angle-left{
        left: 0;
    }
}
.opinions .container .box .text{   
    display: flex;
    margin-bottom: 30px;
}
@media (max-width:1200px) {
    .opinions .container .box .text:last-child{
        display: none;
    }
}
@media (max-width:767px) {
    .opinions .container .box .text{
        text-align: center;
        width: 71%;
        display: block;
    }
    .opinions .container h3{
        width: 90%;
    }
    .opinions .container .box .text .small-box p{
        width: 100% !important;
    }
}
.opinions .container .box .text img{
    width: 100px;
    border-radius: var(--border-radius-7);
    max-width: 100%;
    margin-right: 15px;
    height: 100px;
    margin-bottom: 20px;
}
.opinions .container .box .text .small-box p{
    color: #555;
    font: 400 1rem/1.625rem  "Montserrat", sans-serif;
    font-style: italic;
    width: 80%;
    margin-bottom: 20px;
    max-width: 100%;
}
.opinions .container .box .text .small-box h4{
    color: #333;
    font: 700 1.25rem/1.875rem "Montserrat", sans-serif;
    margin-bottom: 30px;
    max-width: 100%;
}
/* الحمد لله تم بنجاح */
/* End Opinions */

/* Start Innovation */
.innovation{
    padding: var(--padding-60) 0;
    background-color: #fbf9f5;
}
.innovation .container{
    background-image: url(../web/images/date-background.jpg);
    background-size: cover;
    height: 100%;
    padding: 60px 40px 100px;
    position: relative;
    border-radius: 15px;
    text-align: center;
    
}
.innovation .container::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 15px;
   background-color: rgba(0, 0, 0, 0.805);
}
.innovation .container h2{
    font: 700 2.25rem/2.875rem "Montserrat", sans-serif;
    width: 50%;
    color: #eee;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 1.2;
}
.innovation .container p{
    color: #ddd;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 10px;
    font: 400 1rem/1.625rem  "Montserrat", sans-serif;
    width: 80%;
    line-height: var(--line-hieght);
}
.innovation .container button{
    border: 1px solid var(--color-orange);
    outline: 0;
    background-color: var(--color-orange);
    padding: 25px 50px;
    color: #333;
    border-radius: 30px;
    position: relative;
    font: 600 0.875rem/0 "Montserrat", sans-serif;
    transition: var(--transition-03s);
    cursor: pointer;
}
.innovation .container button:hover{
     color: white;
     background-color: transparent;
     border: 1px solid white;
}
@media (max-width:991px) {
    .innovation .container h2{
        width: 80%;
    }
}
@media (max-width:767px) {
    .innovation .container h2{
        width:300px;
        font-size: 30px;
    }
    .innovation .container p{
        width:95%;
    
    }
}
/* الحمد لله تم بنجاح */
/* End Innovation */

/* Start Date */
.date{
    padding: var(--padding-60) 0;
    background-color: #fbf9f5;
}
.date .container{
    text-align: center;
}
.date .container h3{
    color: #333;
    font: 700 1.625rem/2.125rem "Montserrat", sans-serif;
    margin-bottom: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .date .container  h3{
        width: 50%;
    }
}
.date .container form input:nth-child(1){
    border: 1px solid #ddd;
    padding: 15px;
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    outline: 0;
}
@media (max-width:767px) {
    .date .container form input:nth-child(1){
        width: 100%;
    }
}
.date .container form input:nth-child(2){
    margin-left:20px ;
}
.date .container form p{
    display: inline-block;
    font-size: 14px;
    color: #555;
}
@media (max-width:767px) {
    .date .container form input:nth-child(2){
        margin-left: 0;
        display: flex;
        justify-content: start;
    }
    .date .container form p{
    transform: translate(17px, -15px);
     text-align: start;
    }
}
.date .container form span{
    text-decoration: underline;
    cursor: pointer;
}
.date .container form button:nth-child(4){
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 1px solid var(--color-orange);
    outline: 0;
    width: 50%;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--color-orange);
    cursor: pointer;
    transition: var(--transition-03s);
    margin-bottom: 40px;
}
.date .container form button:nth-child(4):hover{
    background-color: transparent;
    border: 1px solid black;
}
.date .container ul  {
    display: flex;
    justify-content: center;
}
.date .container ul li{
    background-color: var(--color-orange);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    font-size: 25px;
    transition: var(--transition-03s);
    cursor: pointer;
}
.date .container ul li:hover{
    background-color: black;
    color: var(--color-orange);
}
/* الحمد لله تم بنجاح */
/* End Date */

/* Start Contact */
.contact{
    padding: 150px  0 var(--padding-60) ;
    background-color: var(--color-orange);
}
.contact .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 100px;
}
@media (max-width:1200px) {
    .contact .container{
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}
@media (max-width:991px) {
    .contact .container{
      gap: 20px;
    }
}
/* Start Text */
.contact .container .box{
    margin-left: auto;
    max-width: 100%;
}
.contact .container .box h2{
    font: 700 2.25rem/2.875rem "Montserrat", sans-serif;
    color: #222;
    margin-bottom: 15px;
}
.contact .container .box .text p{
    font: 400 1rem/1.625rem  "Montserrat", sans-serif;
    color: #333;
    margin-bottom: 25px;
    width: 90%;
}
.contact .container .box .text h3{
    font: 700 1.625rem/2.125rem "Montserrat", sans-serif;
    color: #222;
    margin-bottom: 15px;
    
}
.contact .container .box .text i{
    color: #222;
    margin-bottom: 20px;
    
}
.contact .container .box .text span{
    color: rgba(34, 34, 34, 0.87);
    margin-left: 5px;
    font-size: 18px;
    
}
.contact .container .box .text .small-box span:nth-child(2){
    margin-right: 7px;    
}
@media (max-width:767px) {
    .contact .container{
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    }
    .contact .container .box .text span{
        font-size: 16px;
    }
}
/* End Text */

/* Start Form */
.contact .container .box form input:not(input[type="checkbox"]),
textarea{
    padding: 18px;
    border: 0;
    outline: 0;
    width: 100%;
    margin-bottom: 20px;
    border-radius: var(--border-radius-7);
    background-color: #ffedd0;
}
.contact .container .box form input[type="checkbox"]{
 margin:  20px 0;   
 display: inline-block;
}
.contact .container .box form p{
    display: inline-block;
    font-size: 14px;
    color: #333;
}
.contact .container .box form p span{
    text-decoration: underline;
    cursor: pointer;
}
.contact .container .box form button{
    width: 100%;
    padding: 18px;
    background-color: var(--color-orange);
    border: 1px solid black;
    border-radius: 30px;
    outline: 0;
    transition: var(--transition-03s);
}
.contact .container .box form button:hover{
    background-color: #ffedd0;
    border: 1px solid #ffedd0 ;
}
@media (max-width:1024px) {
    .contact .container .box form p{
        transform: translate(13px, -23px);
        line-height: var(--line-hieght);   
    }
    .contact .container .box form  input[type="checkbox"]{
        margin-left: -2px;
        margin-bottom: 5px;
    }
}
@media (max-width:991px) {
    .contact .container .box form p{
        transform: translate(0, 0);
        line-height: var(--line-hieght);
    }
    .contact .container .box form  input[type="checkbox"]{
        margin-bottom: 20px;
    }
}
@media (max-width:767px) {
    .contact .container .box form p{
        transform: translate(13px, -23px);
        line-height: var(--line-hieght);    
    }
    .contact .container .box form  input[type="checkbox"]{
        margin-left: -2px;
        margin-bottom: 5px;
    }
}
/* End Form */
/* End Contact */

/* Start Links */
.links{
    background-image: url(../web/images/header-background.jpg);
    position: relative;
    background-size: cover;
    padding: var(--padding-60) 0;
}
.links::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.705);
}
.links .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    position: relative;
    color: #bbb;
}
.links .container .text:nth-child(2){
    margin-left: 50px;
}
.links .container .text h4{
    font: 700 1.125rem/1.75rem "Montserrat", sans-serif;
    margin-bottom: 15px;
}
.links .container .text h4:not(.links .container .text:first-child h4, .links .container .text:last-child h4){
    margin-left: -20px;
}
.links .container .text p{
    width: 90%;
    line-height: var(--line-hieght);
    margin-bottom: 15px;
}
.links .container .text ul li:not(.links .container .text:last-child ul li){
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}
.links .container .text ul li:not(.text:last-child ul li)::before{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: -20px;
  top: 3px;
  background-color: #ddd;
}
.links .container .text:last-child ul{
    display: flex;
}
.links .container .text:last-child ul li{
    font-size: 25px;
    margin-right: 18px;
    transition: var(--transition-03s);
    cursor: pointer;
}
.links .container .text:last-child ul li:hover{
    color: var(--color-orange);
}
@media (max-width:767px) {
    .links .container .text{
        margin-bottom: 20px;
    }
    .links .container .text:nth-child(2) ,
    .links .container .text:nth-child(3){
        margin-left: 20px;
    }
}
@media (max-width:991px) {
    .links .container .text{
        margin-bottom: 20px;
    }
    .links .container .text:nth-child(2) ,
    .links .container .text:nth-child(3){
        margin-left: 20px;
    }
}
/* الحمد لله تم بنجاح */
/* End Links*/
/* Start Footer */
.Footer{
    padding: 20px 0;
    background-color: black;
}
.Footer .container div{
    text-align: center;
    color: #999;
    font-size: 16px;
    line-height: var(--line-hieght);
}
/* الحمد لله تم بنجاح */
/* End Footer */

